<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome!
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <div class="center">
    <img src="../assets/soapbox_logo(1).png">
  </div>
  <ion-button [routerLink]="['/login']" expand="block" color="primary">Login</ion-button>
        <span class="divider line one-line">or</span>
        <span class="already">Create an account</span>
        <ion-button [routerLink]="['/sign-up']" expand="block" color="secondary">Sign-Up</ion-button>
  

</ion-content>
